/* tags for all */
html {
    box-sizing: border-box;
}
/* @media (min-width:1920px) {
    .need-hide{
        display:none;
    }
 } */
*,
*::before,
*::after {
    box-sizing: inherit;
}

a {
    text-decoration: none;
}

/* INDEX STARTS */



.landing{
    background-color: #F58021;
    padding-top: 30px;
    padding-bottom: 30px;
}


.wrapper {
    max-width: 1400px;
    margin: 0 auto;
}
@media (max-width: 1900px){
    .wrapper{
        max-width: 1003px; 
    }
}


.header {
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.header__list{  
    display: flex;
    align-items: center;
}


.header__link{
    font-family: "Montserrat";
    font-weight: 600;
    font-size: 18px;
    line-height: 150%;
    text-transform: uppercase;
    color: #000000;
    text-decoration: none;
    margin-right: 48.25px;
}
@media (max-width: 1900px){
    .header__link{
        margin-right: 30px; 
    }
}




.header__link.onpage{
    color: #00A092;
}

.header__link.onpage:hover{
    color: #00A092;
}


.header__link.onpage:active{
    color:#FFFFFF;
}


.header__link:hover{
    opacity: .75;
}


.header__link:active{
    color:#FFFFFF;
}


.header__link.last{
    margin-right: 67px;
}
@media (max-width: 1900px){
    .header__link.last{
        margin-right: 80px; 
    }
}


.header__item-logo{
    margin-right: 30px;
}   

.header__item-logo:hover{
    opacity: .75;
}
.header__item-logo:last-child{
    margin-right: 0;
}



.watch-your-favorite-animal-online{
    height: 830px;
    background: url(../assets/png/header-background.png) no-repeat center;
    width: 100%;
    font-family: "Montserrat";
}
@media (max-width: 1900px){
    .watch-your-favorite-animal-online{
        height: 695px;
        background: url(../assets/png/Background1200.png) no-repeat center;
    }
}



.watch-your-favorite-animal-online__title{
    padding-top: 130px;
    font-weight: 800;
    font-size: 82px;
    line-height: 100px;
    letter-spacing: 0.01em;
    text-transform: uppercase;
    color: #00A092;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    width: 890px;
    margin-bottom: 50px;
}
@media (max-width: 1900px){
    .watch-your-favorite-animal-online__title{
        padding-top: 100px;
        margin-left: -60px;
        margin-bottom: 30px;
    }
}



.watch-your-favorite-animal-online__subtitle{
    font-weight: 300;
    font-size: 18px;
    line-height: 27px;
    width: 430px;
    margin-bottom: 50px;
}
@media (max-width: 1900px){
    .watch-your-favorite-animal-online__subtitle{
        margin-left: -60px;
        margin-bottom: 30px;
    }
}

.watch-your-favorite-animal-online__button{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    text-decoration: none;
    background: #F58021;
    border-radius: 5px;
    padding: 26px 30px;
    width: 240px;
    height: 74px;
}
@media (max-width: 1900px){
    .watch-your-favorite-animal-online__button{
        margin-left: -60px;
    }
}

.watch-your-favorite-animal-online__button:hover{
    background: #E39128;
}

.watch-your-favorite-animal-online__button:active{
    background: #8F5613;
}

.watch-your-favorite-animal-online__text{
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    text-transform: uppercase;
    color: #FFFFFF;
    padding-right: 10px;
}

.welcome-to-the-zoo{
    margin-top: 150px;
    font-family: "Montserrat";
    display: flex;
    margin-bottom: 150px;
}
@media (max-width: 1900px){
    .welcome-to-the-zoo{
        margin-top: 100px;
        margin-bottom: 50px;
        flex-direction: column-reverse;
    }
}



.welcome-to-the-zoo__img, .how-we-work__img{
    width: 100%;
}
@media (max-width: 1900px){
    .welcome-to-the-zoo__img, .how-we-work__img{
    width: 660px;
    }
}



.welcome-to-the-zoo__title{
    margin-top: 68px;
    font-weight: 600;
    font-size: 54px;
    line-height: 66px;
    text-transform: uppercase;
    width: 523px;
    color: #00A092;
    margin-bottom: 50px;
    margin-right: 77px;
}
@media (max-width: 1900px){
    .welcome-to-the-zoo__title{
        margin: 30px 0 30px 0;
    }
}



.welcome-to-the-zoo__subtitle{
    width: 560px;
    font-weight: 300;
    font-size: 18px;
    line-height: 27px;
    margin-right: 40px;
    height: 213px;
}
@media (max-width: 1900px){
    .welcome-to-the-zoo__subtitle{
        margin-right: 0;
    }
}

.how-we-work{
    font-family: "Montserrat";
    display: flex;
    margin-bottom: 150px;
}
@media (max-width: 1900px){
    .how-we-work{
        flex-direction: column;
        align-items: flex-end;
        margin-bottom: 100px;
    }
}

@media (max-width: 1900px){
    .how-we-work__info{
        margin-right: 100px;
    }
}

.how-we-work__title{
    margin-top: 68px;
    font-weight: 600;
    font-size: 54px;
    line-height: 66px;
    text-transform: uppercase;
    width: 523px;
    color: #00A092;
    margin-bottom: 50px;
    margin-left: 40px;
}
@media (max-width: 1900px){
    .how-we-work__title{
        margin-top: 30px;
        margin-bottom: 30px;
        margin-left: 0px;
    }
}

.how-we-work__subtitle{
    font-weight: 300;
    width: 560px;
    font-size: 18px;
    line-height: 27px;
    margin-left: 40px;
    height: 213px;
}
@media (max-width: 1900px){
    .how-we-work__subtitle{
        margin-left: 0px;
    }
}

.your-donation-makes-a-difference{
    background-color: #20113D;
    margin-bottom: 150px;
}
@media (max-width: 1900px){
    .your-donation-makes-a-difference{
        margin-bottom: 100px;
    }
}

.your-donation-makes-a-difference__content{
    padding-top: 50px;
    display: flex;
    font-family: "Montserrat";
}

.your-donation-makes-a-difference__info{
    margin-right: 191px;
}
@media (max-width: 1900px){
    .your-donation-makes-a-difference__info{
        margin-right: 106px;
    }
}



.your-donation-makes-a-difference__title{
    font-weight: 500;
    font-size: 42px;
    line-height: 51px;
    text-transform: uppercase;
    color: #FFFFFF;
    width: 889px;
}
@media (max-width: 1900px){
    .your-donation-makes-a-difference__title{
        width: 557px;
        height: 102px;
    }
}



.your-donation-makes-a-difference__subtitle{
    font-weight: 300;
    margin-top: 20px;
    font-size: 18px;
    line-height: 27px;
    color: #FFFFFF;
    width: 609px;
    margin-bottom: 50px;
}
@media (max-width: 1900px){
    .your-donation-makes-a-difference__subtitle{
        width: 576px;
    }
}


.your-donation-makes-a-difference__donate-capture{
    font-weight: 500;
    font-size: 26px;
    line-height: 34px;
    color: #FFFFFF;
    margin-bottom: 10px;
}

.your-donation-makes-a-difference__menu{
    display: flex;
    border: 1px solid #FFFFFF;
    height: 74px;
    border-left: none;
    border-radius: 5px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.your-donation-makes-a-difference__menu:before{
    font-family: "Montserrat";
    border-left: 1px solid #FFFFFF;
    padding-left: 10px;
    border-radius: 5px;
    border-right: none;
    display: flex;
    font-size: 18px;
    content: "$ ";
    align-items: center;
    color:#FFFFFF;
    
}

input[type='number'] {
    -moz-appearance: textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

.your-donation-makes-a-difference__input-number{
    outline:none;
    border-left:none;
    text-align: center;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    text-transform: uppercase;
    color: #FFFFFF;
    background-color: #20113D;
}

::-webkit-input-placeholder {color:#FFFFFF;}
input[type="number"]::-webkit-input-placeholder {color:white;}
input[type="number"]::-moz-placeholder          {color:white;}/* Firefox 19+ */
input[type="number"]:-moz-placeholder           {color:white;}/* Firefox 18- */
input[type="number"]:-ms-input-placeholder      {color:white;}


.your-donation-makes-a-difference__button{
    display:flex;
    align-items: center;
    background-color: #F58021;
    padding-right: 23px;
    padding-left : 27px;
}


.your-donation-makes-a-difference__button:hover{
    background-color: #E39128;
}
.your-donation-makes-a-difference__button:active{
    background-color: #8F5613;
}

.meet-some-our-friends{
    font-family: "Montserrat";
}


.meet-some-our-friends__link-card{
    text-decoration: none;
}

.meet-some-our-friends__title{
    font-weight: 600;
    font-size: 54px;
    line-height: 66px;
    text-transform: uppercase;
    color: #00A092;
    margin-bottom: 50px;
    text-align: center;
}
@media (max-width: 1900px){
    .meet-some-our-friends__title{
        margin-bottom: 30px;
    }
}

.meet-some-our-friends__subtitle{
    font-weight: 500;
    font-size: 26px;
    line-height: 34px;
    text-align: center;
    width: 920px;
    margin: 0 auto;
    margin-bottom: 100px;
}
@media (max-width: 1900px){
    .meet-some-our-friends__subtitle{
        width: 830px;
    }
}

.meet-some-our-friends__buttons{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
}
@media (max-width: 1900px){
    .meet-some-our-friends__buttons{
        margin-bottom: 30px;
    }
}

.meet-some-our-friends__button-left{
    border: 1px solid #20113D;
    box-sizing: border-box;
    border-radius: 5px;
    padding: 19px 18px;
}
.meet-some-our-friends__button-right{
    border: 1px solid #20113D;
    box-sizing: border-box;
    border-radius: 5px;
    margin-left: 55px;
    padding: 19px 18px;
}

.meet-some-our-friends__button-left:hover, .meet-some-our-friends__button-right:hover{
    background-color: #F58021;
}

.meet-some-our-friends__button-left:active, .meet-some-our-friends__button-right:active{
    background-color: #8F5613;
}

.meet-some-our-friends__second-row, .meet-some-our-friends__first-row{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center; 
}

@media (max-width: 1900px){
    .meet-some-our-friends__second-row, .meet-some-our-friends__first-row{
        margin-left: -60px;
    }
}

.meet-some-our-friends__item{
    display: flex;
    position: relative;
    margin-right: 40px;
    margin-bottom: 350px;    
}
@media (max-width: 1900px){
    .meet-some-our-friends__item{
        margin-right: 20px;
        margin-bottom: 330px;  
    }
}

.meet-some-our-friends__item:hover{
    transform: scale(1.1);
    transition: all 1s;
}
.meet-some-our-friends__animal-caption{
    font-family: "Montserrat";
    font-weight: 500;
    font-size: 26px;
    line-height: 34px;
    text-align: center;
    color: #FFFFFF;
    position: absolute;
    padding: 12.3891px 19.1468px;
    background-color: #20113D;
    border-radius: 5px 0px;
}

.meet-some-our-friends__about{
    position: absolute;
    margin-top: 436px;
    background-color: #20113D;
    width: 440px;
    height: 310px;
}

.meet-some-our-friends__title-animal{   
    font-weight: 500;
    font-size: 26px;
    line-height: 34px;
    text-align: center;
    color: #FFFFFF; 
    margin: 0 auto;
    padding-top: 30px;
    padding-bottom: 20px; 
}

.meet-some-our-friends__subtitle-animal{
    text-align: center;
    font-weight: 300;
    font-size: 18px;
    line-height: 27px;
    margin: 0 auto;
    color: #FFFFFF;
    width: 351px;
}

.meet-some-our-friends__button{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    flex-direction: row;
    padding-top: 55.5px;
}

.meet-some-our-friends__button:hover{
    opacity: .75;
}

.meet-some-our-friends__text{
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    text-transform: uppercase;
    color: #F58021;
    padding-right: 10px;
}


.meet-some-our-friends__button-favourite{
    margin: 60px auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    border: 1px solid #20113D;
    box-sizing: border-box;
    border-radius: 5px;
    padding: 26px 26px 26px 36px;
    margin-bottom: 113px;
    width: 360px;
    background-color: #FFFFFF;
}
@media (max-width: 1900px){
    .meet-some-our-friends__button-favourite{
        margin-top: 100px;
        margin-bottom: 150px;  
    }
}

.meet-some-our-friends__text-favourite{
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    text-transform: uppercase;
    color: #20113D;
    padding-right: 10px;
}


    .meet-some-our-friends__button-favourite:hover{
        background-color: #F58021;
    }

    .meet-some-our-friends__button-favourite:active{
        background-color: #8F5613;
    }


.pay-and-feed{
    background: #20113D;
    font-family: "Montserrat";
    height: 2205px;
}
@media (max-width: 1900px){
    .pay-and-feed{
        height: 2125px; 
    }
}


.pay-and-feed__title{
    padding-top: 91px;
    font-style: normal;
    font-weight: 600;
    font-size: 54px;
    line-height: 66px;
    text-transform: uppercase;
    color:#FFFFFF; 
    margin-bottom: 100px; 
}
@media (max-width: 1900px){
    .pay-and-feed__title{
        padding-top: 150px; 
    }
}


.pay-and-feed__punkt{
    display: flex;
    margin-bottom: 100px;
}
@media (max-width: 1900px){
    .pay-and-feed__punkt{
        margin-bottom: 80px;
        margin-left: -60px;
    }
}


@media (max-width: 1900px){
    .pay-and-feed__border{
        width: 1025px;
    }
}

.pay-and-feed__number{
    font-style: normal;
    font-weight: 500;
    font-size: 26px;
    line-height: 34px;
    color: #FFFFFF;
    margin-right: 93px;
}
@media (max-width: 1900px){
    .pay-and-feed__number{
        margin-right: 68px;
    }
}

.pay-and-feed__paragraph{
    display: flex;
}
@media (max-width: 1900px){
    .pay-and-feed__paragraph{
        margin-left: -60px;
    }
}

.pay-and-feed__about{
    padding-top: 20px;
    font-family: "Montserrat";
    margin-left: 160px;
    color: #FFFFFF;
}
@media (max-width: 1900px){
    .pay-and-feed__about{
        text-align: center;
        padding-top: 0;
        margin-left: 20px;
    }
}

.pay-and-feed__subtitle{
    margin-top: 30px;
    font-style: normal;
    font-weight: 500;
    font-size: 26px;
    line-height: 34px;
    margin-bottom: 50px;
}


.pay-and-feed__subtitle-about{
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 27px;  
    width: 560px;
}
@media (max-width: 1900px){
    .pay-and-feed__subtitle-about{
        width: 550px;
        height: 246px;
    } 
}

.pay-and-feed__img{
    width: 560px;
    height: 364px;
}
@media (max-width: 1900px){
    .pay-and-feed__img{
        width: 550px;
        height: 358px;
        padding-top: 44px;
    } 
}



.pay-and-feed__punkt1{
    margin-top: 116px;
    display: flex;
    margin-bottom: 100px;
}
@media (max-width: 1900px){
    .pay-and-feed__punkt1{
        margin-top: 96px;
        margin-left: -60px;
        margin-bottom: 80px;
    } 
}


.pay-and-feed__number1{
    font-style: normal;
    font-weight: 500;
    font-size: 26px;
    line-height: 34px;
    color: #FFFFFF;
    margin-right: 93px;
}
@media (max-width: 1900px){
    .pay-and-feed__number1{
        margin-right: 68px;
    }
}

.pay-and-feed__paragraph1{
    display: flex;
}
@media (max-width: 1900px){
    .pay-and-feed__paragraph1{
        margin-left: -60px;
        
    }
}

.pay-and-feed__about1{
    padding-top: 20px;
    font-family: "Montserrat";
    margin-left: 160px;
    color: #FFFFFF;
}
@media (max-width: 1900px){
    .pay-and-feed__about1{
        text-align: center;
        padding-top: 0;
        margin-left: 20px;
    }
}


.pay-and-feed__subtitle1{
    margin-top: 30px;
    font-style: normal;
    font-weight: 500;
    font-size: 26px;
    line-height: 34px;
    margin-bottom: 50px;
}

.pay-and-feed__subtitle-about1{
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 27px;  
    width: 560px;
}
@media (max-width: 1900px){
    .pay-and-feed__subtitle-about1{
        width: 550px;
        height: 113px;
    }
}


.pay-and-feed__button{
    margin-top: 50px;
    margin-left: 720px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    text-decoration: none;
    background: #F58021;
    border-radius: 5px;
    padding: 26px 30px;
    width: 240px;
}
@media (max-width: 1900px){
    .pay-and-feed__button{
        margin-left: 450px;
    }
}

.pay-and-feed__button:hover{
    background: #E39128;
}

.pay-and-feed__button:active{
    background: #8F5613;
}

.pay-and-feed__text{
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    text-transform: uppercase;
    color: #FFFFFF;
    padding-right: 10px;
}

.pay-and-feed__indent{
    height: 100px;
    background: #20113D;
}

.what-our-users-think{
    height: 1776px;
    background: url(../assets/png/what-bg.png) no-repeat center;
    width: 100%;
    font-family: "Montserrat";
}
@media (max-width: 1900px){
    .what-our-users-think{
        background: url(../assets/png/whatusersbg1200.png) no-repeat center;
        height: 1880px;
    }
}


@media (max-width: 1900px){
    .what-our-users__info{
        margin-left: -60px;
    }
}


.what-our-users-think__title{
    font-style: normal;
    font-weight: 600;
    font-size: 54px;
    line-height: 66px;
    text-transform: uppercase;
    color: #FFFFFF;
    width: 440px;
    margin-bottom: 50px;
}
@media (max-width: 1900px){
    .what-our-users-think__title{
        margin-bottom: 30px;
    }
}

.what-out-users-think__subtitle{
    font-style: normal;
    font-weight: 300;
    font-size: 26px;
    line-height: 130%;
    width: 560px;
    color: #FFFFFF;
    margin-right: 40px;
}
@media (max-width: 1900px){
    .what-out-users-think__subtitle{
        margin-bottom: 50px;
    }
}

.what-our-users__content{
    padding-top: 100px;
    display: flex;
}
@media (max-width: 1900px){
    .what-our-users__content{
        flex-direction: column;
    }
}

.what-our-users-think__messages-rows{
    display: flex;
}
@media (max-width: 1900px){
    .what-our-users-think__messages-rows{
        margin-left: 41px;
    }
}

.what-our-users-think__messages-first-row{
    display: flex;
    margin-right: 30px;
    flex-direction: column;
}


.what-our-users-think__messages-second-row{
    display: flex;
    flex-direction: column;
    align-items: center;
}




.what-our-users-think__item{
    font-family: "Montserrat";
    width: 515px;
    height: 463px;
    background: #FFFFFF;
}
.what-our-users-think__item.second{
    margin-top: 30px;
}

.what-our-users-think__quotes{
    padding-top: 20px;
    padding-left: 37px;
    margin-bottom: 20px;
}
.what-our-users-think__item-name{
    padding-left: 50px;
    font-weight: 500;
    font-size: 26px;
    line-height: 34px;
    margin-bottom: 20px;
}

.what-our-users-think__item-subname{
    width: 415px;
    margin: 0 auto;
    font-weight: 300;
    font-size: 18px;
    line-height: 27px;
}

.what-our-users-think__item-author{
    margin-top: 46px;
    padding-left: 50px;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    text-transform: uppercase;
}


.what-our-users-think__buttons{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 79px;
}
@media (max-width: 1900px){
    .what-our-users-think__buttons{
        justify-content: flex-end;
        margin-right: -60px;
    }
}

.what-our-users-think__button-left{
    border: 1px solid #FFFFFF;
    box-sizing: border-box;
    border-radius: 5px;
    padding: 19px 18px;
}
.what-our-users-think__button-right{
    border: 1px solid #FFFFFF;
    box-sizing: border-box;
    border-radius: 5px;
    margin-left: 55px;
    padding: 19px 18px;
}

.what-our-users-think__button-left:hover, .what-our-users-think__button-right:hover{
    background-color: #F58021;
}

.what-our-users-think__button-left:active, .what-our-users-think__right-left:active{
    background-color: #8F5613;
}

.what-our-users-think__button-feedback{
    margin-top: 376px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-decoration: none;
    border: 1px solid #FFFFFF;
    box-sizing: border-box;
    border-radius: 5px;
    padding: 26px 26px 26px 36px;
    width: 360px;
}
@media (max-width: 1900px){
    .what-our-users-think__button-feedback{
        margin-top: 97px;
        margin-left: 40px;
    }
}

.what-our-users-think__text-feedback{
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    text-transform: uppercase;
    color: #FFFFFF;
    padding-right: 10px;
}

.what-our-users-think__button-feedback:hover{
    background-color: #F58021;
}

.what-our-users-think__button-feedback:active{
    background-color: #8F5613;
}


.care{
    font-family: "Montserrat";
}

.care__title{
    margin: 136px auto  50px;
    width: 655px;
    font-style: normal;
    font-weight: 600;
    font-size: 54px;
    line-height: 66px;
    text-align: center;
    text-transform: uppercase;
    color: #00A092; 
}
@media (max-width: 1900px){
    .care__title{
        margin: 150px 150px 30px 196px;
    }
}

.care__subtitle{
    width: 537px;
    font-style: normal;
    font-weight: 500;
    font-size: 26px;
    line-height: 34px;
    text-align: center;
    color: #20113D;
    margin: auto;
    padding-bottom: 100px;
}
@media (max-width: 1900px){
    .care__subtitle{
        margin-left: 291px;
        padding-bottom: 50px;

    }
}



.care__items{
    display: grid;
    gap: 40px;
    grid-template-columns: repeat(auto-fit, minmax(440px, 1fr));
    margin-bottom: 100px;
    
}
@media (max-width: 1900px){
    .care__items{
        grid-template-columns: repeat(auto-fit, minmax(455px, 1fr));
        gap: 20px;
        margin-left: 35px;
        max-width: 930px;
    }
}


.care__item_big{
    background: url(../assets/png/care-koala.png) no-repeat center;
    height: 658px;
    width: 930px;
    grid-column: span 2;
}
@media (max-width: 1900px){
    .care__item_big{
        background: url(../assets/png/koala1200.png) no-repeat center;
        height: 470px;
        width: 100%;
    }
}



.care__item.care__item_big:hover{
    transform: none;
    transition: none;
}

.care__item{
    background: #20113D;
    text-align: center;
}

.care__item:hover{
    transform: scale(1.1);
    transition: all 1s;
}

.care__pic{ 
    width: 100%;
}



.care__subtitle-animal{
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    width: 390px;
    height: 81px;
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 150%;
    color: #FFFFFF;
    margin-bottom: 50px;
}

.care__button{
    padding: 26px 45px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
}

.care__text{
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    text-transform: uppercase;
    color: #F58021;
    margin-right: 10px;
}



.care__button-favourite{
    margin: 0 auto; 
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    border: 1px solid #20113D;
    box-sizing: border-box;
    border-radius: 5px;
    padding: 26px 26px 26px 36px;
    width: 360px;
    margin-bottom: 150px;
}

.care__button-favourite:hover{
    background-color: #F58021;
}

.care__button-favourite:active{
    background-color: #8F5613;
}



.care__text-favourite{
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    text-transform: uppercase;
    color: #20113D;
    padding-right: 10px;
}



.care__touch-animal{
    margin-bottom: 150px;
}
@media (max-width: 1900px){
    .care__touch-animal{
    margin-left: -100px;
    }
}

.footer{
    background: #20113D;
}

.footer__list{
    display: flex;
}
@media (max-width: 1900px){
    .footer__list{
    margin-left: -60px;
    }
}

.footer__logo-item{
    margin-top: 82px;
    margin-right: 65px;
}
@media (max-width: 1900px){
    .footer__logo-item{
    margin-right: 30px;
    }
}



.footer__logo-item.last{
    margin-right: 100px;
}
@media (max-width: 1900px){
    .footer__logo-item.last{
    margin-right: 35px;
    }
}


.footer__link{
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    text-transform: uppercase;
    color: #FFFFFF;
    text-decoration: none;
}

.footer__link.nav:hover, .footer__link.nav:active{
    color: #F58021;
}

.footer__item{  
    margin-top: 94px;
    margin-right: 46px;
}
@media (max-width: 1900px){
    .footer__item{
    margin-right: 20px;
    }
}



.footer__item.last{  
    margin-right: 100px;
}
@media (max-width: 1900px){
    .footer__item.last{
    margin-right: 35px;
    }
}

.footer__list-button{
    display: flex;
}

.footer__button{
    margin-top: 70px;
    font-family: "Montserrat";
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    border: 1px solid #FFFFFF;
    box-sizing: border-box;
    border-radius: 5px;
    padding: 26px 26px 26px 36px;
    width: 360px;
    margin-bottom: 70px;
}
@media (max-width: 1900px){
    .footer__button{
    margin-right: -60px;
    }
}

.footer__button:hover{
    background-color: #F58021;
}

.footer__button:active{
    background-color: #8F5613;
}



.footer__text{
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    text-transform: uppercase;
    color: #FFFFFF;
    padding-right: 10px;
}

.foooter__divider{
    margin-bottom: 37px;
}
@media (max-width: 1900px){
    .foooter__divider{
    width: 1200px;
    margin-left: -100px;
    margin-bottom: 45px;
    }
}

.footer__under-list{

        display: flex;
        align-items: center;
        padding-bottom: 36px;
}
@media (max-width: 1900px){
    .footer__under-list{
    padding-bottom: 43px;
    margin-left: -60px;
    }
}

.footer__corp-link{
    white-space: nowrap;
    font-weight: 300;
    font-family: "Montserrat";
    font-size: 18px;
    line-height: 27px;
    text-decoration: none;
    color: #FFFFFF;
    margin-right: 50px;
}

.footer__corp-item.last{
    margin-right: 700px;
}   

@media (max-width: 1900px){
    .footer__corp-item.last{
        margin-right: 420px;
    }
}

.footer__link-logo{
    margin-right: 40px;
}




.footer__link-logo:hover{
    opacity: 0.75;
}
.footer__link-logo.last{
    margin-right: 0;
}



/* INDEX ENDS */




/* MAP starts*/
.map__title{
    width: 601px;
    margin: 40px auto;
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 600;
    font-size: 54px;
    line-height: 66px;
    text-align: center;
    text-transform: uppercase;
    color: #20113D;
    margin-bottom: 70px;
}
@media (max-width: 1900px){
    .map__title{
        margin-top:30px;
        margin-left: 302px;
        margin-bottom: 30px;
    }
}

@media (max-width: 1900px){
    .map{
        margin-left: -200px;
    }
}   
.map__main{
    position: relative;
    width: 1406px;
    height: 912px;
    background: url(../assets/png/Map.png) no-repeat center;
    margin-bottom: 150px;
}
@media (max-width: 1900px){
    .map__main{
        background: url(../assets/png/Map1200.png) no-repeat center;
        width: 1198px;
        height: 777px;
        margin-bottom: 100px; 
    }
}
    
.map__eagle {
    position: absolute;
    left: 9.5%;
    top: 40%; 
}

.map__eagle.active {
    left: 8.6%;
    top: 39%;
    opacity: 0; 
}

.active:hover {
    opacity: 1; 
}


.map__croco{
    position: absolute;
    left: 19%;
    top: 42%;
}
@media (max-width: 1900px){
    .map__croco{
        position: absolute;
        left: 18%;
        top: 39%;
    }
}

.map__croco.active{
    left: 19.2%;
    top: 42.3%;
    opacity: 0;
}
@media (max-width: 1900px){
    .map__croco.active{
        left: 18.2%;
        top: 39.3%;
        opacity: 0;
    }
}

.active:hover {
    opacity: 1; 
}


.map__lion{
    position: absolute;
    left: 39.3%;
    top: 47.8%;
}
@media (max-width: 1900px){
    .map__lion{
        position: absolute;
        left: 38.3%;
        top: 44.8%;
    }
}

.map__lion.active{
    left: 39.55%;
    top: 48%;
    opacity: 0;
}
@media (max-width: 1900px){
    .map__lion.active{
        left: 38.55%;
        top: 45%;
        opacity: 0;
    }
}

.active:hover {
    opacity: 1; 
}

.map__gorilla{
    position: absolute;
    left: 47.5%;
    top: 50%;
}
@media (max-width: 1900px){
    .map__gorilla{
        position: absolute;
        left: 46.5%;
        top: 47%;
    }
}

.map__gorilla.active{
    left: 47.75%;
    top: 50.4%;
    opacity: 0;
}
@media (max-width: 1900px){
    .map__gorilla.active{
        left: 46.75%;
        top: 47.4%;
        opacity: 0;
    }
}

.active:hover {
    opacity: 1; 
}


.map__lemur{
    position: absolute;
    left: 55%;
    top: 64%;
}
@media (max-width: 1900px){
    .map__lemur{
        position: absolute;
        left: 54%;
        top: 61%;
    }
}


.map__lemur.active{
    position: absolute;
    left: 55.3%;
    top: 64.3%;
    opacity: 0;
}
@media (max-width: 1900px){
    .map__lemur.active{
        position: absolute;
        left: 54.3%;
        top: 61.3%;
        opacity: 0;
    }
}


.active:hover {
    opacity: 1; 
}


.map__panda {
    position: absolute;
    right: 23.5%;
    top: 35.8%;
}


.map__panda.active {
    right: 23.8%;
    top: 36%;
    opacity: 0;
}


.active:hover {
    opacity: 1; 
}

    
.map__tiger {
    position: absolute;
    right: 19.3%;
    bottom: 26%;
}
@media (max-width: 1900px){
    .map__tiger {
        position: absolute;
        right: 18.5%;
        bottom: 26%;
    }
}


.map__tiger.active {
    right: 19.5%;
    bottom: 27%;
    opacity: 0;
}
@media (max-width: 1900px){
    .map__tiger.active {
        right: 18.7%;
        bottom: 27%;
        opacity: 0;
    }
}


.active:hover {
    opacity: 1; 
}

    
.map__koala {
    position: absolute;
    right: 10%;
    bottom: 13%;
}


.map__koala.active {
    right: 10.27%;
    bottom: 14%;
    opacity: 0;
}

.active:hover {
    opacity: 1; 
}


/* CONTACT US */
.get-in-touch__touch{
    width: 100%;
    height: 100%;
}
@media (max-width: 1900px){
    .get-in-touch__touch{
        width: 1200px;
        margin-left: -100px
    }
}

.get-in-touch__main{
    display: flex;
    margin-top: 150px;
    font-family: "Montserrat";
    font-style: normal;
}
@media (max-width: 1900px){
    .get-in-touch__main{
        margin-top: 50px;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        
    }
}


.get-in-touch__info{
    margin-right: 175px;
}
@media (max-width: 1900px){
    .get-in-touch__info{
        margin-right: 0; 
    }
}


.get-in-touch__title{
    width: 405px;
    font-weight: 600;
    font-size: 54px;
    line-height: 66px;
    color: #00A092;
    text-transform: uppercase;
    margin-bottom: 50px;
}
@media (max-width: 1900px){
    .get-in-touch__title{
        margin: auto;
        margin-bottom: 30px;
    }
}

.get-in-touch__subtitle{
    width: 545px;
    font-weight: 300;
    font-size: 18px;
    line-height: 27px;
    align-items: center;
}
@media (max-width: 1900px){
    .get-in-touch__subtitle{
        margin: auto;
        margin-bottom: 50px;
        width: 835px;
        height: 108px;
    }
}

.get-in-touch__item{
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
}

.get-in-touch__star{
    color: #00A092;
}

.get-in-touch__input-capture{
    font-weight: 300;
    margin-bottom: 10px;
    font-size: 18px;
    line-height: 27px;
}

.get-in-touch__input::-webkit-input-placeholder,  
.get-in-touch__textarea::-webkit-input-placeholder{
    font-family: "Montserrat";
    color:#969696;
    font-size: 18px;
    line-height: 27px;
    font-weight: 300;
}

.get-in-touch__input{
    font-family: "Montserrat";
    width: 680px;
    height: 60px;
    border: 1px solid #000000;
    border-radius: 5px;
    padding: 20px 20px 20px 20px;
    font-size: 18px;
}

.get-in-touch__textarea{
    font-family: "Montserrat";
    width: 680px;
    height: 200px;
    border: 1px solid #000000;
    border-radius: 5px;
    margin-bottom: 67px;
    padding: 20px 20px 20px 20px;
    font-size: 18px;
    resize: none;
}

.get-in-touch__button{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 26px 45px;
    background: #00A092;
    border-radius: 5px;
    width: 359px;
    margin-bottom: 120px;
    border: none;
}

.get-in-touch__button:hover, .get-in-touch__button:active{
    background: #05786E;
}


.get-in-touch__text{
    margin-right: 10px;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    text-transform: uppercase;
    color: #FFFFFF;
}


/* —----------side bar start------— */
.side-bar {
    background: #20113D;
    width: 220px;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 1;
}
@media (max-width: 1900px){
    .side-bar {
        width: 115px;
    }
}


.container {
    max-width: 1920px;
    margin: 0 auto;
}
    
.side-bar__info {
    display: flex;
    height: 80px;
    border-bottom: 1px solid #ffffff;
}
    
.side-bar__text{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 6px 40px;
    width: 120px;
    height: 38px;
    background: #F58021;
    border-radius: 0px 0px 5px 0px;   
}
@media (max-width: 1900px){
    .side-bar__text{
        display: none;
    }
}

    
.side-bar__span {
    position: static;
    width: 42px;
    height: 22px;
    left: calc(50% - 42px/2 - 15px);
    top: calc(50% - 22px/2);
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    display: flex;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 0px 10px;
}
    
.side-bar__info-button {
    width: 25px;
    height: 18px;
    margin-left: 50px;
    margin-top:30px ;
    margin-bottom:54px ;
    background: url(../assets/png/aside-top-arrows.png) no-repeat center;
    border: none;
    outline: none;
}
    
    
.side-bar__item {
    height: 170px;
    display: flex;
    padding-top: 25px;
    padding-bottom: 25px;
    justify-content: center;
    border-bottom: 1px solid #ffffff;
}
    
.side-bar__item-back {
    height: 120px;
    width: 120px;
    align-items: center;
    display: flex;
}


.side-bar__item-back:hover {
    transform: scale(1.1);
    transition: all 1s;
}

.card-active {
    background: url(../assets/png/active-circle.png) no-repeat center;
}
@media (max-width: 1900px){
    .card-active {
        background: none;
    }
}

    
.card-passive {
    background: url(../assets/png/passive-circle.png) no-repeat center;
}
@media (max-width: 1900px){
    .card-passive {
        background: none;
    }
}

/* side bar 1200 for panda */


@media (max-width: 1900px){
    .page-panda-active {
        background:url(../assets/zoos/Panda-active-1200.png) no-repeat center;
    }
}
@media (max-width: 1900px){
    .page-panda-eagle {
        background:url(../assets/zoos/Eagle-1200.png) no-repeat center;
    }
}
@media (max-width: 1900px){
    .page-panda-gorilla {
        background:url(../assets/zoos/Gorilla-1200.png) no-repeat center;
    }
}
@media (max-width: 1900px){
    .page-panda-lemur {
        background:url(../assets/zoos/Lemur-1200.png) no-repeat center;
    }
}


/* side bar 1200 for lemur */


@media (max-width: 1900px){
    .page-lemurs-active {
        background:url(../assets/zoos/Lemur-active-1200.png) no-repeat center;
    }
}
@media (max-width: 1900px){
    .page-lemurs-eagle {
        background:url(../assets/zoos/Eagle-1200.png) no-repeat center;
    }
}
@media (max-width: 1900px){
    .page-lemurs-gorilla {
        background:url(../assets/zoos/Gorilla-1200.png) no-repeat center;
    }
}
@media (max-width: 1900px){
    .page-lemurs-panda {
        background:url(../assets/zoos/Panda-1200.png) no-repeat center;
    }
}

/* side bar 1200 for gorilla */
@media (max-width: 1900px){
    .page-gorillas-active {
        background:url(../assets/zoos/Gorilla-active-1200.png) no-repeat center;
    }
}
@media (max-width: 1900px){
    .page-gorillas-eagle {
        background:url(../assets/zoos/Eagle-1200.png) no-repeat center;
    }
}
@media (max-width: 1900px){
    .page-gorillas-lemur {
        background:url(../assets/zoos/Lemur-1200.png) no-repeat center;
    }
}
@media (max-width: 1900px){
    .page-gorillas-panda {
        background:url(../assets/zoos/Panda-1200.png) no-repeat center;
    }
}



/* side bar 1200 for eagles*/
@media (max-width: 1900px){
    .page-eagles-active {
        background:url(../assets/zoos/Eagle-active-1200.png) no-repeat center;
    }
}
@media (max-width: 1900px){
    .page-eagles-gorilla {
        background:url(../assets/zoos/Gorilla-1200.png) no-repeat center;
    }
}
@media (max-width: 1900px){
    .page-eagles-lemur{
        background:url(../assets/zoos/Lemur-1200.png) no-repeat center;
    }
}
@media (max-width: 1900px){
    .page-eagles-panda {
        background:url(../assets/zoos/Panda-1200.png) no-repeat center;
    }
}


/* side bar animals for adaptive ends */
    
.side-bar__panda-img {
    justify-content: center;
    margin: 0 auto;
}
@media (max-width: 1900px){
    .side-bar__panda-img {
        opacity: 0;
    }
}

    
.side-bar__bottom {
    display: flex;
    height: 80px;
    justify-content: center;
    padding-top: 25px;
    padding-bottom: 25px;
}
    
.side-bar__bottom-button {
    background:none;
    border: none;
    outline: none;
}


.live-cams{
    margin-top: -846px;
    font-family: "Montserrat";
}
@media (max-width: 1900px){
    .live-cams{
        margin-top: -846px;
    }
}




.live-cams__top{
    margin-top: 50px;
    display: flex;
    margin-bottom: 50px;
}
@media (max-width: 1900px){
    .live-cams__top{
        margin-bottom: 30px;
    }
}

.live-cams__title{
    font-style: normal;
    font-weight: 600;
    font-size: 54px;
    line-height: 66px;
    color: #00A092;
    text-transform: uppercase;
    margin: 0 auto;
    padding-left: 250px;
}
@media (max-width: 1900px){
    .live-cams__title{
        padding-left: 210px;
    }
}

.live-cams__button-right, .live-cams__button-left{
    padding: 25px 20px 20px 20px;
}


.live-cams__button-right:hover, .live-cams__button-left:hover{
    background: #F58021;
}

.live-cams__button{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    text-decoration: none;
    background: #F58021;
    border-radius: 5px;
    padding: 26px 30px;
    width: 240px;
}
@media (max-width: 1900px){
    .live-cams__button{
        margin-right: -60px;
    }
}



.live-cams__button:hover{
    background: #E39128;
}

.live-cams__button:active{
    background: #8F5613;
}

.live-cams__text{
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    text-transform: uppercase;
    color: #FFFFFF;
    padding-right: 10px;
}


.live-cams__player{
    position: relative;
}
@media (max-width: 1900px){
    .live-cams__player iframe{
        width: 1025px;
        height: 760px;
        margin-left: 40px;
    } 
}


.live-cams__zoo-logo{
    position: absolute;
    right: 40px;
    top: 700px;
}
@media (max-width: 1900px){
    .live-cams__zoo-logo{
        position: absolute;
        right: 0px;
        top: 680px;
    }
}

@media (max-width: 1900px){
    .live-cams__item.player iframe{
        width: 265px;
        height: 209px;
    } 
}


.live-cams__cameras-title{
    margin-top: 100px;
    font-style: normal;
    font-weight: 500;
    font-size: 42px;
    line-height: 51px;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 30px;
}
@media (max-width: 1900px){
    .live-cams__cameras-title{
        margin-top: 10px;
        padding-left: 80px;
    }
}

.live-cams__list{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding-left: 140px;
}
    @media (max-width: 1900px){
        .live-cams__list{
            padding-left: 130px;
        }
    }

.live-cams__item{
    margin-right: 40px;
}
@media (max-width: 1900px){
    .live-cams__item{
        margin-right: 20px;
    }
}
  
.live-cams__span {
    position: static;
    width: 79px;
    height: 32px;
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 500;
    font-size: 26px;
    line-height: 32px;
    display: flex;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 0px 10px;
}

.live-cams__item.player{
    position: relative;
}

.live-cams__camera{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 6px 40px;
    width: 189px;
    height: 44px;
    border: 1px solid #FFFFFF;
    border-radius: 0px 0px 5px 0px;
    position: absolute;
    left:0;
    top: 0;
}

.live-cams__invis{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
}


.quick-donate{
    margin-top: 150px;
    background-color: #20113D;
    margin-bottom: 150px;
}
@media (max-width: 1900px){
    .quick-donate{
        margin-top: 100px;
        margin-bottom: 100px;
    }
}

.quick-donate__content{
    padding-top: 50px;
    display: flex;
    font-family: "Montserrat";
}
@media (max-width: 1900px){
    .quick-donate__content{
        padding-top: 30px;
    }
}

.quick-donate__info{
    margin-right: 191px;
}
@media (max-width: 1900px){
    .quick-donate__info{
        margin-right: -100px;
    }
}
@media (max-width: 1900px){
    .quick-donate__info.eagle{
        margin-right: 70px;
    }
}
@media (max-width: 1900px){
    .quick-donate__info.lemur{
        margin-right: 40px;
    }
}



.quick-donate__title{
    font-weight: 500;
    font-size: 42px;
    line-height: 51px;
    text-transform: uppercase;
    color: #FFFFFF;
    width: 889px; 
}
@media (max-width: 1900px){
    .quick-donate__title{
        margin-left: -60px;
    }
}

.quick-donate__title.eagle{
    width: 924px; 
}
@media (max-width: 1900px){
    .quick-donate__title.eagle{
        width: 624px; 
    }
}


.quick-donate__title.lemur{
    width: 924px;
}
@media (max-width: 1900px){
    .quick-donate__title.lemur{
        width: 645px;
    }
}


.quick-donate__subtitle{
    font-weight: 300;
    margin-top: 20px;
    font-size: 18px;
    line-height: 27px;
    color: #FFFFFF;
    width: 873px;
    margin-bottom: 50px;
}
@media (max-width: 1900px){
    .quick-donate__subtitle{
        margin-left: -60px;
        margin-bottom: 30px;
        width: 739px;
    }
}


.quick-donate__subtitle.eagle{
    width: 919px;
}
@media (max-width: 1900px){
    .quick-donate__subtitle.eagle{
        width: 692px;
    }
}

.quick-donate__subtitle.lemur{
    width: 919px;
}
@media (max-width: 1900px){
    .quick-donate__subtitle.lemur{
        width: 739px;
    }
}


.quick-donate__donate-capture{
    font-weight: 500;
    font-size: 26px;
    line-height: 34px;
    color: #FFFFFF;
    margin-bottom: 10px;
}

.quick-donate__menu{
    display: flex;
    border: 1px solid #FFFFFF;
    height: 74px;
    border-left: none;
    border-radius: 5px;
}

.quick-donate__menu:before{
    border-left: 1px solid #FFFFFF;
    padding-left: 10px;
    border-radius: 5px;
    border-right: none;
    display: flex;
    font-size: 18px;
    content: "$ ";
    align-items: center;
    color:#FFFFFF;
    
}

.quick-donate__input-number{
    outline:none;
    border-left:none;
    text-align: center;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    text-transform: uppercase;
    color: #FFFFFF;
    background-color: #20113D;
}

.quick-donate__button{
    display:flex;
    align-items: center;
    background-color: #F58021;
    padding-right: 23px;
    padding-left : 27px;
}


.quick-donate__button:hover{
    background-color: #E39128;
}


.quick-donate__button:active{
    background-color: #8F5613;
}

.you-know{
    font-family: "Montserrat";
}

.you-know__facts{
    width: 1040px;
    height: 269px;
    box-shadow: 0px 4px 50px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    margin: 0 auto;
    margin-right: 128px;
    margin-bottom: 148px;
}
@media (max-width: 1900px){
    .you-know__facts{
        width: 930px;
        height: 267px;
        margin: 0px 35px 100px 35px;
    }
}

.you-know__facts.eagle{
    height: 375px;
}

.you-know__facts.gorilla{
    height: 299px;
}

.you-know__facts.lemur{
    height: 299px;
}
@media (max-width: 1900px){
    .you-know__facts.lemur{
        height: 299px;
    }
}

.you-know__title{
    padding-top: 46px;
    font-style: normal;
    font-weight: 500;
    font-size: 42px;
    line-height: 51px;
    text-align: center;
    text-transform: uppercase;
    color: #00A092;
    margin-bottom: 20px;
}
@media (max-width: 1900px){
    .you-know__title{
        padding-top: 30px;
    }
}


.you-know__subtitle{
    width: 919px;
    height: 102px;
    font-style: normal;
    font-weight: 500;
    font-size: 26px;
    line-height: 130%;
    text-align: center;
    margin: 0 auto;
}
@media (max-width: 1900px){
    .you-know__subtitle{
        width: 740px;
        height: 136px;
    }
}


.you-know__subtitle.eagle{
    height: 204px;
}

.you-know__subtitle.gorilla{
    height: 128px;
}

.you-know__subtitle.lemur{
    height: 128px;
}

.you-know__about{
    position: relative;
    display: flex;
}


.you-know__list{
    margin-right: 240px;
}
@media (max-width: 1900px){
    .you-know__list{
        margin-right: 185px;
    }
}



.you-know__item{
    display: flex;
    align-items: center;
    margin-bottom: 25px;
}



.you-know__text{
    white-space: nowrap;
    font-weight: 500;
    font-size: 26px;
    line-height: 130%;
    margin-right: 20px;
}
@media (max-width: 1900px){
    .you-know__text{
        margin-left: -60px;
    }
}


.you-know__capture{
    white-space: nowrap;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 150%;
}

.you-know__pic{
    margin-bottom: 50px;
}

.you-know__button{
    position: absolute;
    display: flex;
    align-items: center;
    padding: 26px 45px 26px 45px;
    text-decoration: none;
    bottom: 17.5%;
    right: 65%;
}
@media (max-width: 1900px){
    .you-know__button{
        bottom: 17%;
        right: 59%;
    }
}



.you-know__button:hover, .you-know__button:active{
    opacity: .75;
}

.you-know__button.eagle{
    right: 55%;
}
@media (max-width: 1900px){
    .you-know__button.eagle{
        right: 45%;
    }
}

.you-know__button.gorilla{
    right: 63%;
}
@media (max-width: 1900px){
    .you-know__button.gorilla{
        right: 55%;
    }
}

.you-know__button.lemur{
    right: 63%;
}
@media (max-width: 1900px){
    .you-know__button.lemur{
        right: 55%;
    }
}


.you-know__button-name{
    font-weight: 600;
    font-size: 20.273px;
    line-height: 25px;
    text-transform: uppercase;
    color: #F58021;
    padding-right: 11.26px;
}

.you-know__paragraph{
    font-weight: 500;
    width: 1160px;
    height: 189px;
    font-size: 18px;
    line-height: 150%;
    margin-bottom: 150px;
}
@media (max-width: 1900px){
    .you-know__paragraph{
        margin-left: -60px;
        width: 1120px;
        margin-bottom: 100px;
    }
}

.you-know__paragraph.gorilla{
    height: 216px;  
}

.you-know__paragraph.lemur{
    height: 243px;  
}



@font-face {
    font-family: 'Montserrat';
    src: local('Montserrat Hairline'), local('Montserrat-Hairline'),
     url('../fonts/montserrathairline.woff2') format('woff2'),
    url('../fonts/montserrathairline.woff') format('woff'), 
    url('../fonts/montserrathairline.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}
@font-face {
    font-family: 'Montserrat';
    src: local('Montserrat Light'), local('Montserrat-Light'), 
    url('../fonts/montserratlight.woff2') format('woff2'), 
    url('../fonts/montserratlight.woff') format('woff'), 
    url('../montserratlight.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'Montserrat';
    src: local('Montserrat'), local('Montserrat-Regular'),
    url('../fonts/montserrat.woff2') format('woff2'), 
    url('../fonts/montserrat.woff') format('woff'), 
    url('../fonts/montserrat.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}


@font-face {
    font-family: 'Montserrat';
    src: local('Montserrat Medium'), local('Montserrat-Medium'), 
    url('../fonts/Montserrat-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}


@font-face {
    font-family: 'Montserrat';
    src: local('Montserrat SemiBold'), local('Montserrat-SemiBold'), 
    url('../fonts/Montserrat-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: local('Montserrat Bold'), local('Montserrat-Bold'), 
    url('../fonts/montserratbold.woff2') format('woff2'), 
    url('../fonts/montserratbold.woff') format('woff'), 
    url('../fonts/montserratbold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: local('Montserrat Bold'), local('Montserrat-Bold'), 
    url('../fonts/montserratbold.woff2') format('woff2'), 
    url('../fonts/montserratbold.woff') format('woff'), 
    url('../fonts/montserratbold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'Montserrat';
    src: local('Montserrat Black'), local('Montserrat-Black'), 
    url('../fonts/montserratblack.woff2') format('woff2'), 
    url('../fonts/montserratblack.woff') format('woff'), 
    url('../fonts/montserratblack.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}
